html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}
 
.logo{
  float: left;
  width: 100px; 
  height: 100px;
  margin:10px;
} 

header{
  width: 100%;
  Height: 160px;
  max-height: 50%;
  Color: white;
  }
  .header-text {
          font-size: 25px;
          color: black;
          font-weight:1000;
          margin: 20px 0px 0px 0px;
          text-align: center;          
          }
.nav ul{ 
  display: inline-block;
  margin: 0 auto;
  text-align: center;
          }
          header nav ul li{
            display: inline-block;
            float: none;
            list-style: none;
            Margin: 0px 10px 10px;
            text-align: center;
            }
              header nav ul li a{
                font-size: 18px;
                color: black;
                Margin: 0px 15px 10px;
                text-align: center;
                }

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("images/Background1.png");
  color: white;
}

button {
  font-size: 16px;
  color: black;
  Height: 14px
  width: 40px
  Margin: 0px 10px 10px;
  text-align: center;
  }

#message {
  font-size: 1.5rem;
  margin: 10px 10px;
  align-items: center;
}
#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.board div {
  color: rgb(5, 5, 5);
  font-size: 1.5rem;
  width: 70px;
  height: 70px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/Angry_Bomb.png") crimson;
}

div.hidden {
  background: rgb(128, 131, 133);
}

div.hidden:hover {
  background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/Flag1.png") deepskyblue;
}
